<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if pageStyle %}
    <link rel="stylesheet" href="{{ pageStyle }}">
    {% endif %}
    <title>{{ title }}</title>
</head>
<body>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "footer.njk" %}
</body>
</html>