---
title: Main page
pageStyle: /css/style.css
---
{% extends "base.njk" %}
{% block content %}
<link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css">
 <script src="/node_modules/leaflet/dist/leaflet.js"></script>

<div class="main-container">
    <div class="left-section">
        <h1>Welcome to My Portfolio</h1>
        <button id="toggle-view">Switch View</button>
        <img class="profilna" src={{ site.profilna }} alt="Profilna slika">
        <div class="left-aligned">
            <p>{{ site.author }}</p>
            <p>{{ site.position }}</p>
            <p>{{ site.uni }}</p>
            <p>{{ site.faks }}</p>
            <div><img src="/images/svg/hrvatska.svg" alt="Link" class="tech-icon">{{ site.drzava }}</div>
            <div><img src="/images/svg/pin.svg" alt="Link" class="invert-icon">{{ site.grad }}</div>
            <div><img src="/images/svg/link.svg" alt="Link" class="invert-icon"><a href= {{ site.git }}>{{ site.git }}</a></div>
            <div><img src="/images/svg/link.svg" alt="Link" class="invert-icon"><a href= {{ site.linkedin }}>{{ site.linkedintext }}</a></div>
        </div>
        <div class="about">
            <h1><a href="/about">About me</a></h1>
        </div>
    </div>
    <div class="right-section">
        <div id="map-view">
            <div id="map"></div>
        </div>
        <div id="columns-view">
            {% for project in collections.sortedProjects %}
            <div class="project" id="{{project.data.id}}">
                <a href="{{ project.url }}" class="project-content">
                    <h2 >{{ project.data.title }}</h2>
                    <p>{{ project.data.shortDesc }}</p>
                    {% for tech in project.data.technologies %}
                    <img src="/images/svg/{{ tech.icon }}.svg" alt="{{ tech.name }}" class="tech-icon">
                    {% endfor %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type="module" src="/js/map.js"></script>
{% endblock %}